/* Main container styles */
.main-container {
  font-family: 'Arial', sans-serif; /* Consistent font throughout the application */
  text-align: center; /* Center-aligns all text */
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Padding around the container */
  max-width: 1500px; /* Maximum width of the container */
  background-color: #f5f5f5; /* Light grey background */
}

.container{
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
 background-image: url("https://images.pexels.com/photos/417458/pexels-photo-417458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
/* Heading styles */
.heading {
  font-size: 32px; /* Large font size for main heading */
  color: #2c3e50; /* Dark blue for a professional look */
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: #34495e; /* Slightly lighter shade of blue for the subheading */
  font-size: 24px; /* Smaller than the main heading */
  margin-bottom: 20px;
}

h3 {
  color: #16a085; /* Teal color for section titles */
  margin-bottom: 10px;
}

/* Container for all device selectors */
.AllComponent {
  display: flex;
   /* flex-wrap: wrap; */
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  background-color: #ecf0f1; /* Very light gray background for contrast */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Styles for each device selector block */
.device-selector-container {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  width: 100%; /* Full width on smaller screens */
  max-width: 360px; /* Max width to avoid overly wide blocks */
}

ul {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}

li {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #e0e0e0; /* Light grey background for list items */
  border-radius: 4px; /* Rounded corners for list items */
  cursor: pointer; /* Indicates that the list items are clickable */
  transition: background-color 0.2s, transform 0.2s; /* Smooth transition for hover effects */
}

li:hover {
  background-color: #bdc3c7; /* Darker shade on hover */
  transform: translateY(-2px); /* Slight raise effect on hover */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .AllComponent {
      flex-direction: column; /* Stack selectors vertically on smaller screens */
      align-items: center;
  }
}
